.sec {
  padding: 50px;
}

.title {
  margin-bottom: 50px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 800px;

  li {
    a {
      display: flex;
      gap: 15px;
      align-items: center;

      .num {
        font-size: 12px;
        line-height: 1;
      }

      .name {
        font-size: 18px;
        line-height: 1;
      }

      .line {
        flex: 1;
        height: 1px;
        background-color: #eee;
      }

      .note {
        margin-left: auto;
        font-size: 12px;
        line-height: 1;
      }
    }
  }
}
