<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />

  <title>title</title>
  <meta name="description" content="" />
  
  <link rel="shortcut icon" href="" />
  <link rel="apple-touch-icon-precomposed" href="" />
  
  <meta property="og:url" content="" />
  <meta property="og:title" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="" />
  <meta property="fb:app_id" content="" />
  <meta property="og:locale" content="ja_JP" />
  
  <meta name="twitter:card" content="" />
  <meta name="twitter:site" content="" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image:src" content="" />

  <link rel="stylesheet" href="/assets/styles/pages/about/style.scss" />
  <script src="/assets/scripts/pages/about/index.js" defer></script>
</head>
<body>

  <%- include('./components/header.ejs') %>
  
  <main>
    <div class="index">
      about
      <a href="/">index</a>
    </div>
    <section class="secAbout">
      secAbout
      <img src="/assets/images/about/about.jpg" alt="">
    </section>
  </main>

  <%- include('./components/footer.ejs') %>
  
</body>
</html>
